In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('C:/Users/wutti/Documents/GitHub/try_29_create_dataset/dataset_01_sales.csv')

In [8]:
df.tail()

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
99995,Sub-Saharan Africa,Niger,Cereal,Offline,L,8/26/2012,836322486,9/11/2012,5263,205.70,117.11,1082599.10,616349.93,466249.17
99996,Europe,Poland,Meat,Offline,C,12/3/2013,110449349,12/10/2013,3272,421.89,364.69,1380424.08,1193265.68,187158.40
99997,Sub-Saharan Africa,Comoros,Clothes,Online,M,8/7/2013,193128764,8/31/2013,9948,109.28,35.84,1087117.44,356536.32,730581.12
99998,Middle East and North Africa,Kuwait,Cosmetics,Online,L,6/28/2011,701597058,7/3/2011,7015,437.20,263.33,3066958.00,1847259.95,1219698.05
99999,Sub-Saharan Africa,Tanzania,Cosmetics,Offline,C,4/3/2012,423403060,4/30/2012,3229,437.20,263.33,1411718.80,850292.57,561426.23

In [6]:
df.shape

(100000, 14)

In [18]:
import pandas_gbq

# TODO: Set project_id to your Google Cloud Platform project ID.
# project_id = "my-project"

sql = """
select * from test_01.table_02
"""
df = pandas_gbq.read_gbq(sql)

ImportError: pandas-gbq requires google-cloud-bigquery: cannot import name 'collections_abc' from 'six.moves' (unknown location)