In [12]:
import pandas as pd
from pandas.io import gbq
from functools import reduce

In [5]:
data = pd.read_csv('C:/Users/wutti/Documents/GitHub/try_20_stone_send_csv_to_bigquery/data_01.csv')
data.head()

   id  name  age
0   1  mike   26
1   2  miki   21
2   3   moo   18

In [6]:
data.to_gbq(destination_table='test_01.table_01',project_id='stone-send-csv-to-bigquery',if_exists='replace')

1it [00:04,  4.78s/it]

In [25]:
a = lambda x,y:x+y+2

In [27]:
print(a(1,2))

5

In [28]:
b = reduce(a,[1,2,3])

In [29]:
print(b)

10